In [1]:
import json
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

In [3]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

In [4]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

In [5]:
#Student
student_data_df = pd.read_sql("SELECT * FROM student", conn)
student_data_df.head(5)

   ID_Student StudentID    LastName  FirstName MiddleName BirthDate Gender
0          33  25004961       Moore    Heather      Alice      None      F
1          34  25003514      Multak      Ilana    Cecille      None      F
2          35  25005833     Murillo    Jessica    Dorothy      None      F
3          36  25002589  Romanowski     Kandra  Genevieve      None      F
4          37  25007185      Hoffer  Katherine   Lynnette      None      F

In [6]:
student_data_df.rename(columns={
    'ID_Student':'ID_Student__c',
    'StudentID':'StudentID__c',
    'LastName':'LastName__c',
    'FirstName':'FirstName__c',
    'MiddleName':'MiddleName__c',
    'BirthDate' : 'BirthDate__c',
    'Gender': 'Gender__c',
}, inplace=True)
student_data_df.head()

,ID_Student__c,StudentID__c,LastName__c,FirstName__c,MiddleName__c,BirthDate__c,Gender__c
0,33,25004961,Moore,Heather,Alice,None,F
1,34,25003514,Multak,Ilana,Cecille,None,F
2,35,25005833,Murillo,Jessica,Dorothy,None,F
3,36,25002589,Romanowski,Kandra,Genevieve,None,F
4,37,25007185,Hoffer,Katherine,Lynnette,None,F

In [7]:
student_data_records = student_data_df.to_dict('records')
student_data_records

[{'ID_Student__c': 33,
  'StudentID__c': '25004961',
  'LastName__c': 'Moore',
  'FirstName__c': 'Heather',
  'MiddleName__c': 'Alice',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 34,
  'StudentID__c': '25003514',
  'LastName__c': 'Multak',
  'FirstName__c': 'Ilana',
  'MiddleName__c': 'Cecille',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 35,
  'StudentID__c': '25005833',
  'LastName__c': 'Murillo',
  'FirstName__c': 'Jessica',
  'MiddleName__c': 'Dorothy',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 36,
  'StudentID__c': '25002589',
  'LastName__c': 'Romanowski',
  'FirstName__c': 'Kandra',
  'MiddleName__c': 'Genevieve',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 37,
  'StudentID__c': '25007185',
  'LastName__c': 'Hoffer',
  'FirstName__c': 'Katherine',
  'MiddleName__c': 'Lynnette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 38,
  'StudentID__c': '25006014',
  'LastName__c': 'Poocharoen',
  'FirstName__c': 'Pariya',
  'MiddleName__c': 'Mariette',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 39,
  'StudentID__c': '25007528',
  'LastName__c': 'Mantrala',
  'FirstName__c': 'Sriharitha',
  'MiddleName__c': 'Patty',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 40,
  'StudentID__c': '25003778',
  'LastName__c': 'Kelly',
  'FirstName__c': 'Carly',
  'MiddleName__c': 'Raelene',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 41,
  'StudentID__c': '25003605',
  'LastName__c': 'Sraha',
  'FirstName__c': 'Clementine',
  'MiddleName__c': 'Kendall',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 42,
  'StudentID__c': '25002056',
  'LastName__c': 'Abdulrahim',
  'FirstName__c': 'Jawaher',
  'MiddleName__c': 'Angela',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 43,
  'StudentID__c': '25004152',
  'LastName__c': 'Schulte',
  'FirstName__c': 'Sarah',
  'MiddleName__c': 'Serita',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 44,
  'StudentID__c': '25004097',
  'LastName__c': 'Damdinsuren',
  'FirstName__c': 'Undraa',
  'MiddleName__c': 'Claire',
  'BirthDate__c': None,
  'Gender__c': 'F'},
 {'ID_Student__c': 45,
  'StudentID__c': '25002311',
  'LastName__c': 'Smith',
  'FirstName__c': 'James',
  'MiddleName__c': 'Carlton',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 46,
  'StudentID__c': '25005602',
  'LastName__c': 'Martinez',
  'FirstName__c': 'Joisel',
  'MiddleName__c': 'Cyrus',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 47,
  'StudentID__c': '25006805',
  'LastName__c': 'Odhiambo',
  'FirstName__c': 'Pius',
  'MiddleName__c': 'Danny',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 48,
  'StudentID__c': '25006947',
  'LastName__c': 'Karr',
  'FirstName__c': 'Todd',
  'MiddleName__c': 'Darren',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 49,
  'StudentID__c': '25002714',
  'LastName__c': 'Stark',
  'FirstName__c': 'Tom',
  'MiddleName__c': 'Deangelo',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 50,
  'StudentID__c': '25005284',
  'LastName__c': 'Mahmood',
  'FirstName__c': 'Adit',
  'MiddleName__c': 'Dion',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 51,
  'StudentID__c': '25006348',
  'LastName__c': 'Mikus',
  'FirstName__c': 'Chris',
  'MiddleName__c': 'Floyd',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 52,
  'StudentID__c': '25002555',
  'LastName__c': 'Hanafin',
  'FirstName__c': 'Christopher',
  'MiddleName__c': 'Horace',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 53,
  'StudentID__c': '25005250',
  'LastName__c': 'Fingerut',
  'FirstName__c': 'Cole',
  'MiddleName__c': 'Lino',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 54,
  'StudentID__c': '25002325',
  'LastName__c': 'Hoff',
  'FirstName__c': 'David',
  'MiddleName__c': 'Lucien',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 55,
  'StudentID__c': '25003773',
  'LastName__c': 'Molina',
  'FirstName__c': 'Dino',
  'MiddleName__c': 'Lynwood',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 56,
  'StudentID__c': '25003936',
  'LastName__c': 'Vega',
  'FirstName__c': 'John',
  'MiddleName__c': 'Noelle',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 57,
  'StudentID__c': '25005443',
  'LastName__c': 'Clarke',
  'FirstName__c': 'Michael',
  'MiddleName__c': 'Parker',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 58,
  'StudentID__c': '25006762',
  'LastName__c': 'Huynh',
  'FirstName__c': 'Patrick',
  'MiddleName__c': 'Richard',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 59,
  'StudentID__c': '25006027',
  'LastName__c': 'Oppan',
  'FirstName__c': 'Robert',
  'MiddleName__c': 'Riley',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 60,
  'StudentID__c': '25002876',
  'LastName__c': 'Doucet',
  'FirstName__c': 'Trevor',
  'MiddleName__c': 'Seth',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 61,
  'StudentID__c': '25007333',
  'LastName__c': 'Omar',
  'FirstName__c': 'Yasir',
  'MiddleName__c': 'Solomon',
  'BirthDate__c': None,
  'Gender__c': 'M'},
 {'ID_Student__c': 62,
  'StudentID__c': '25007334',
  'LastName__c': 'Williamson',
  'FirstName__c': 'Kevin',
  'MiddleName__c': 'Stewart',
  'BirthDate__c': None,
  'Gender__c': 'M'}]

In [8]:
for rec in student_data_records:

    record = {
        'ID_Student__c': rec['ID_Student__c'],
        'StudentID__c': rec['StudentID__c'],
        'LastName__c': rec['LastName__c'],
        'FirstName__c': rec['FirstName__c'],
        'MiddleName__c': rec['MiddleName__c'],
        'BirthDate__c': rec['BirthDate__c'],
        'Gender__c': rec['Gender__c']
    }
    
    try:
        sf.Student__c.create(record)
    except Exception as e:
        print(e)

In [9]:
student_lookup_list = []

data = sf.query_all_iter("SELECT ID_Student__c, Name FROM Student__c")
for row in data:
    rec = {
        'ID_Student__c': row['ID_Student__c'],
        'StudentSF__c': row['Name']
    }
    student_lookup_list.append(rec)

In [10]:
student_lookup_df = pd.DataFrame(student_lookup_list)
student_lookup_df.head(5)

   ID_Student__c     StudentSF__c
0           59.0  a0K3h000001qErA
1           57.0  a0K3h000001qEr0
2           52.0  a0K3h000001qEqb
3           40.0  a0K3h000001qEpd
4           44.0  a0K3h000001qEpx

In [11]:
class_lookup_list = []

data = sf.query_all_iter("SELECT ID_Class__c, Name FROM Class__c")
for row in data:
    rec = {
        'ID_Class__c': row['ID_Class__c'],
        'ClassSF__c': row['Name']
    }
    class_lookup_list.append(rec)

In [12]:
class_lookup_df = pd.DataFrame(class_lookup_list)
class_lookup_df

   ID_Class__c       ClassSF__c
0          4.0  a0H3h000003S9k4
1          1.0  a0H3h000003S9jp
2          2.0  a0H3h000003S9ju
3          3.0  a0H3h000003S9jz

In [13]:
#Classparticipant
query = '''
    SELECT
        cp.*
        
    FROM
        classparticipant cp
        
'''
classparticipant_data_df = pd.read_sql(query, conn)
classparticipant_data_df.head()

   ID_ClassParticipant  ID_Student  ID_Class   StartDate EndDate
0                    1          33         1  2020-03-16    None
1                    2          34         1  2020-03-16    None
2                    3          35         1  2020-03-16    None
3                    4          62         1  2020-03-16    None
4                    5          36         1  2020-03-16    None

In [14]:
classparticipant_data_df.rename(columns={
    'ID_ClassParticipant' : 'ID_ClassParticipant__c',
    'ID_Student': 'ID_Student__c',
    'ID_Class':'ID_Class__c',
    'StartDate':'StartDate__c',
    'EndDate':'EndDate__c',
}, inplace=True)

classparticipant_data_df.head(5)

   ID_ClassParticipant__c  ID_Student__c  ID_Class__c StartDate__c EndDate__c
0                       1             33            1   2020-03-16       None
1                       2             34            1   2020-03-16       None
2                       3             35            1   2020-03-16       None
3                       4             62            1   2020-03-16       None
4                       5             36            1   2020-03-16       None

In [15]:
classparticipant_data_df = pd.merge(classparticipant_data_df, student_lookup_df, how='left')
classparticipant_data_df.head()

,ID_ClassParticipant__c,ID_Student__c,ID_Class__c,StartDate__c,EndDate__c,StudentSF__c
0,1,33,1,2020-03-16,None,a0K3h000001qEp4
1,2,34,1,2020-03-16,None,a0K3h000001qEp9
2,3,35,1,2020-03-16,None,a0K3h000001qEpE
3,4,62,1,2020-03-16,None,a0K3h000001qErP
4,5,36,1,2020-03-16,None,a0K3h000001qEpJ

In [16]:
classparticipant_data_df = pd.merge(classparticipant_data_df, class_lookup_df, how='left')
classparticipant_data_df.head()

,ID_ClassParticipant__c,ID_Student__c,ID_Class__c,StartDate__c,EndDate__c,StudentSF__c,ClassSF__c
0,1,33,1,2020-03-16,None,a0K3h000001qEp4,a0H3h000003S9jp
1,2,34,1,2020-03-16,None,a0K3h000001qEp9,a0H3h000003S9jp
2,3,35,1,2020-03-16,None,a0K3h000001qEpE,a0H3h000003S9jp
3,4,62,1,2020-03-16,None,a0K3h000001qErP,a0H3h000003S9jp
4,5,36,1,2020-03-16,None,a0K3h000001qEpJ,a0H3h000003S9jp

In [17]:
classparticipant_data_records = classparticipant_data_df.to_dict(orient='records')
classparticipant_data_records

[{'ID_ClassParticipant__c': 1,
  'ID_Student__c': 33,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEp4',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 2,
  'ID_Student__c': 34,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEp9',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 3,
  'ID_Student__c': 35,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpE',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 4,
  'ID_Student__c': 62,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qErP',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 5,
  'ID_Student__c': 36,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpJ',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 6,
  'ID_Student__c': 37,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpO',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 7,
  'ID_Student__c': 38,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpT',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 8,
  'ID_Student__c': 39,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpY',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 9,
  'ID_Student__c': 40,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpd',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 10,
  'ID_Student__c': 41,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpi',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 11,
  'ID_Student__c': 42,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpn',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 12,
  'ID_Student__c': 43,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEps',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 13,
  'ID_Student__c': 46,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEq7',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 14,
  'ID_Student__c': 47,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqC',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 15,
  'ID_Student__c': 48,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqH',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 16,
  'ID_Student__c': 49,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqM',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 17,
  'ID_Student__c': 50,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqR',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 18,
  'ID_Student__c': 51,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqW',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 20,
  'ID_Student__c': 53,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqg',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 21,
  'ID_Student__c': 54,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEql',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 22,
  'ID_Student__c': 55,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqq',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 23,
  'ID_Student__c': 56,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEqv',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 24,
  'ID_Student__c': 57,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEr0',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 25,
  'ID_Student__c': 58,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEr5',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 26,
  'ID_Student__c': 59,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qErA',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 27,
  'ID_Student__c': 60,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qErF',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 28,
  'ID_Student__c': 61,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qErK',
  'ClassSF__c': 'a0H3h000003S9jp'},
 {'ID_ClassParticipant__c': 29,
  'ID_Student__c': 44,
  'ID_Class__c': 1,
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': None,
  'StudentSF__c': 'a0K3h000001qEpx',
  'ClassSF__c': 'a0H3h000003S9jp'}]

In [18]:
for rec in classparticipant_data_records:
 
    record = {
        'ID_ClassParticipant__c': rec['ID_ClassParticipant__c'],
        'ID_Student__c': rec['ID_Student__c'],
        'ID_Class__c': rec['ID_Class__c'],
        'StartDate__c': rec['StartDate__c'].isoformat(),
        'EndDate__c': rec['EndDate__c'],
        'Student_Name__c': rec['StudentSF__c'],
        'Class_Name__c': rec['ClassSF__c']
    }
    
    try:
        sf.Class_Participant__c.create(record)
    except Exception as e:
        print(e)