## Install `simple_salesforce`  module

Remove the comment symbol (#) to run `!pip install simple_salesforce`. Once this module is installed, you can comment it out again.

In [1]:
!pip install simple_salesforce

Requirement already satisfied: simple_salesforce in c:\users\chris\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: authlib in c:\users\chris\anaconda3\lib\site-packages (from simple_salesforce) (0.14.3)
Requirement already satisfied: requests>=2.22.0 in c:\users\chris\anaconda3\lib\site-packages (from simple_salesforce) (2.22.0)
Requirement already satisfied: cryptography in c:\users\chris\anaconda3\lib\site-packages (from authlib->simple_salesforce) (2.7)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\chris\anaconda3\lib\site-packages (from requests>=2.22.0->simple_salesforce) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\chris\anaconda3\lib\site-packages (from requests>=2.22.0->simple_salesforce) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\chris\anaconda3\lib\site-packages (from requests>=2.22.0->simple_salesforce) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chris\anaconda3\lib\site-packages (from requests>=2.22.0->simple_salesforce) (2019.9.11)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\chris\anaconda3\lib\site-packages (from cryptography->authlib->simple_salesforce) (1.12.3)
Requirement already satisfied: six>=1.4.1 in c:\users\chris\anaconda3\lib\site-packages (from cryptography->authlib->simple_salesforce) (1.12.0)
Requirement already satisfied: asn1crypto>=0.21.0 in c:\users\chris\anaconda3\lib\site-packages (from cryptography->authlib->simple_salesforce) (1.0.1)
Requirement already satisfied: pycparser in c:\users\chris\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography->authlib->simple_salesforce) (2.19)

## Import dependencies

In [2]:
import json
from sqlalchemy import create_engine
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

## Import configuration variables

In [3]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [4]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [5]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [6]:
#course_data = pd.read_sql("SELECT * FROM course", conn)
#course_data.head(30)
##
class_data = pd.read_sql("SELECT * FROM class", conn)
class_data.head(30)
##
#classparticipant_data = pd.read_sql("SELECT * FROM classparticipant", conn)
#classparticipant_data.head(30)
##
#student_data = pd.read_sql("SELECT * FROM student", conn)
#course_data.head(30)
##
#staff_data = pd.read_sql("SELECT * FROM staff", conn)
#course_data.head(30)
##
#staffassignment_data = pd.read_sql("SELECT * FROM staffassignment", conn)
#staffassignment_data.head(30)

   ID_Class  ID_Course               Section   StartDate     EndDate
0         1          1  GWU-ARL-DATA-PT-09-0  2020-03-16  2020-03-14
1         2          1       GWDC201805DATA3  2018-05-15  2018-11-08
2         3          2       GWARL201905WEB3  2019-05-14  2019-11-07
3         4          3      GWARL201905UIUX3  2019-05-14  2019-11-07

## Transform Data

In [6]:
#student_data['FullName'] = student_data['FirstName'].str.cat(student_data['LastName'], sep=" ")
#student_data['Company'] = 'Dartling University'
######
course_data = course_data.rename(columns={'ID_Course':'Course_ID__c','CourseCode':'Course_Code__c','CourseName':'Name','CreditHours':'Credit_Hours__c','BootCampCourse':'Boot_Camp_Course__c',  })
course_data
##
class_data = class_data.rename(columns= {})
#student_load_df = student_data[['LastName','FirstName','Company']]

,Course_ID__c,Course_Code__c,Name,Credit_Hours__c,Boot_Camp_Course__c
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0
5,6,CIS-438,Database Administration,5,0
6,7,CIS-430,Business Systems Programming I,5,0
7,8,CIS-435,Business Systems Programming II,5,0

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [8]:
course_load = course_data.to_dict('records')
course_load

[{'Course_ID__c': 1,
  'Course_Code__c': 'BC-DATAVIZ',
  'Name': 'Data Visualization and Analytics',
  'Credit_Hours__c': 12,
  'Boot_Camp_Course__c': 1},
 {'Course_ID__c': 2,
  'Course_Code__c': 'BC-WEBDEV',
  'Name': 'Full Stack Web Development',
  'Credit_Hours__c': 12,
  'Boot_Camp_Course__c': 1},
 {'Course_ID__c': 3,
  'Course_Code__c': 'BC-UIUX',
  'Name': 'User Interface/User Experience',
  'Credit_Hours__c': 12,
  'Boot_Camp_Course__c': 1},
 {'Course_ID__c': 4,
  'Course_Code__c': 'CIS-349',
  'Name': 'Introduction to Databases',
  'Credit_Hours__c': 5,
  'Boot_Camp_Course__c': 0},
 {'Course_ID__c': 5,
  'Course_Code__c': 'CIS-405',
  'Name': 'Database Programming',
  'Credit_Hours__c': 5,
  'Boot_Camp_Course__c': 0},
 {'Course_ID__c': 6,
  'Course_Code__c': 'CIS-438',
  'Name': 'Database Administration',
  'Credit_Hours__c': 5,
  'Boot_Camp_Course__c': 0},
 {'Course_ID__c': 7,
  'Course_Code__c': 'CIS-430',
  'Name': 'Business Systems Programming I',
  'Credit_Hours__c': 5,
  'Boot_Camp_Course__c': 0},
 {'Course_ID__c': 8,
  'Course_Code__c': 'CIS-435',
  'Name': 'Business Systems Programming II',
  'Credit_Hours__c': 5,
  'Boot_Camp_Course__c': 0}]

## Example of inserting rows individually

Loop through the DataFrame and assemble indiviudal dictionaries

In [ ]:
#for index, row in course_load.iterrows():
#record = {
   #    'Course_ID__c': 'Course_ID__c'
 
 #  }
    
#try:
 #  sf.Course__c.create(record)
#except Exception as e:
    print(e)

## Example of inserting rows in bulk

In [9]:
try:
    sf.bulk.Course__c.insert(course_load)
except Exception as e:
    print(e)